DJANGO_SECRET_KEY=test
DJANGO_DEBUG=true
IFRC_DATA_URL=https://.com
EOAPI_DOMAIN=https://.com
IDMC_CLIENT_ID=test_id
GFD_CREDENTIAL=hash_json
GFD_SERVICE_ACCOUNT=test.iam.gserviceaccount.com
DESINVENTAR_DATA_URL=test
EMDAT_AUTHORIZATION_KEY=test
